
@{
    ViewBag.Title = "Bun venit!";
}

    <div class="landing1">

        <h1>Aplicatie de invatare a limbajului Python</h1>
        <h2>Bun venit!</h2>
        <p>Dorim sa impartasim cunostinte si sa ajutam la aprofundarea acestora.</p>
    </div>


