
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--<li>@Html.ActionLink("Utilizatorii", "Index", "Users")</li>
                        <li>@Html.ActionLink("Postari în așteptare", "Index", "AdminRequest")</li>-->

<br />
<br />
<span class="buttonsM">
    <a class="btn" href="/Users/Index">Utilizatori</a>
    <br />
    <br />
    <a class="btn" href="/AdminRequest/Index">Postari in asteptare</a>

</span>
<br />
<br />

